@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto;
}

p {
    color: #171c61;
    margin: 0;
}

button {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #fffbdc;
}

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 4px;
    background-color: #29235c;
    height: 50px;
    margin-bottom: 8px;
}

#page-header-date-controls {
    display: flex;
}

.switch-input-container {
    display: flex;
}

.switch-input-container p {
    color: #fffbdc;
}

.switch-input-container button {
    background-color: transparent;
    color: #fffbdc;
    transition: transform 200ms;
}

.switch-input-container button:hover {
    transform: translate(0, -1px);
}

#this-week-button {
    background-color: #b31926;
    color: #fffbdc;
    margin-left: 4px;
}

#page-header-view-controls {
    margin-right: 4px;
}

#page-header-view-controls button {
    background-color: transparent;
    color: #fffbdc;
    transform: scale(125%);
    transition: transform 200ms;
}

#page-header-view-controls button:hover {
    transform: translate(0, -1px) scale(125%);
}

#schedule-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.schedule-header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 4px;
}

.schedule-header-item {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px;
}

.user-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color 200ms;
}

.user-row:nth-child(even) {
    background-color: #f8f8f8;
}

.user-row:hover {
    background-color: #efefef;
}

.user-row p {
    text-align: center;
}
